{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% for type, messages in app.flashes %}
{% for message in messages %}
    <div class="alert alert-{{ type }}">{{ message }}</div>
{% endfor %}
{% endfor %}

{{ form_start(form) }}
<div class="row">
{% for field in form %}
    <div class="col-md-6 col-lg-6 col-xl-6 col-12">
        {{ form_row(field) }}
    </div>
{% endfor %}
</div>

<div class="card-footer text-end">
<div class="d-flex">
    <a href="{{ cancelUrl }}" class="btn btn-link">{{ "Cancel"|trans }}</a>
    <button type="submit" class="btn btn-primary ms-auto">{{ "Save"|trans }}</button>
</div>
</div>

{{ form_end(form) }}