{% extends("base.html.twig") %}

{% block body %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            Anlegen & verwalten
                        </div>
                        <h2 class="page-title">
                            Benutzerverwaltung</h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{{ path('verwaltung_benutzer-anlegen') }}" class="btn btn-primary">
                                Neuen Benutzer anlegen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                    <div class="col-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-vcenter table-mobile-md card-table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Funktion</th>
                                        <th>Rollen</th>
                                        <th class="w-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for user in currentUsers %}
                                        <tr>
                                            <td data-label="Name">
                                                <div class="d-flex py-1 align-items-center">
                                                    <div class="flex-fill">
                                                        <div class="font-weight-medium">{{ user.lastname }} {{ user.firstname }}</div>
                                                        <div class="text-secondary">
                                                            <a href="mailto:{{ user.email }}" class="text-reset">{{ user.email }}</a></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-label="Funktion">
                                                <div>{{ user.role }}</div>
                                            </td>
                                            <td class="text-secondary" data-label="Rollen">
                                                <div class="badges-list">
                                                    {% if user.permission_admin %}
                                                        <span class="badge bg-red text-red-fg">Admin</span>
                                                    {% endif %}
                                                    {% if user.permission_wegemanager %}
                                                        <span class="badge bg-blue text-blue-fg">Wegemanager</span>
                                                    {% endif %}
                                                    {% if user.permission_lagerist %}
                                                        <span class="badge bg-purple text-purple-fg">Lagerist</span>
                                                    {% endif %}
                                                    {% if user.permission_wegepate %}
                                                        <span class="badge bg-green text-green-fg">Wegepate</span>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-list flex-nowrap">
                                                    <a href="{{ path('verwaltung_benutzer-bearbeiten', { userid: user.id }) }}" class="btn">
                                                        Bearbeiten
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
