{% extends("base.html.twig") %}

{% block body %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            {{ "Inventory booking"|trans }}
                        </div>
                        <h2 class="page-title">
                            {{ "Booking history"|trans }}</h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                    <div class="col-6">
                        <div class="flex-grow-1 flex-md-grow-0">
                            <form action="./" method="get" autocomplete="off" novalidate="">
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                                    </span>
                                    <input type="text" value="" class="form-control" placeholder="Suchen ...…" aria-label="Search in website">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="btn-list flex-nowrap">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">{{ "Warehouse"|trans }}</button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">{{ "User"|trans }}</button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="card">

                            <div class="table-responsive">
                                <table class="table table-vcenter table-mobile-md card-table">
                                    <thead>
                                    <tr>
                                        <th>{{ "Date / Time"|trans }}</th>
                                        <th>{{ "Warehouse"|trans }}</th>
                                        <th>{{ "Amount"|trans }}</th>
                                        <th>{{ "ItemNr"|trans }}</th>
                                        <th>{{ "Name"|trans }}</th>
                                        <th>{{ "User"|trans }}</th>
                                        <th class="w-1">{{ "Comment"|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% set k = 10 %}
                                    {% for i in range(1, k) %}
                                        <tr>
                                            <td>22.07.2024</td>
                                            <td>Murnau</td>
                                            <td class="text-red"><strong>-{{ i - 2 }}</strong></td>
                                            <td>12345</td>
                                            <td><strong>Super Artikel 5000</strong></td>
                                            <td class="text-secondary small">sepp@maxmustermann.de</td>
                                            <td class="text-secondary small">Inventur</td>
                                        </tr>
                                        <tr>
                                            <td>22.07.2024</td>
                                            <td>Murnau</td>
                                            <td class="text-green"><strong>{{ i + 3 }}</strong></td>
                                            <td>12345</td>
                                            <td><strong>Super Artikel 5000</strong></td>
                                            <td class="text-secondary small">sepp@maxmustermann.de</td>
                                            <td class="text-secondary small">Inventur</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                            <ul class="pagination mt-3">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                                        {{ "back"|trans }}
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        {{ "next page"|trans }}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
