<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if not document is defined or not document %}
        {% set document = pimcore_document(1) %}
    {% endif %}

    {% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
        {# @var document \Pimcore\Model\Document\Link #}
        {% set document = document.getElement() %}
    {% endif %}

    {% if document is instanceof('\\Pimcore\\Model\\Document\\Page') %}
        {% if document.getTitle() is not empty %}
            {% do pimcore_head_title().set(document.getTitle()) %}
        {% endif %}
        {% if document.getDescription() is not empty %}
            {% do pimcore_head_meta().setDescription(document.getDescription()) %}
        {% endif %}
    {% endif %}

    {% block layout_head_meta deferred %}
    {{ pimcore_head_title() }}
    {{ pimcore_head_meta() }}
    {% if pimcore_placeholder('canonical').count() %}
        <link rel="canonical" href="{{ pimcore_placeholder('canonical') }}"/>
    {% endif %}
    {% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('theme/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('theme/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('theme/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="/theme/site.webmanifest">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#000">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<main class="page-wrapper">

    <h1>hello world</h1>

    {% block body %}{% endblock %}

</main>

</body>
</html>
