<div class="suppliers accordion" id="accordion-example">
    <template id="supplier-template">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
                <button class="supplier-name accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
                    Supplier 1
                </button>
            </h2>
            <div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-example">
                <div class="accordion-body pt-0">

                    <fieldset class="form-fieldset">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label class="form-label">{{ "Supplier NET price"|trans }}</label>
                                <input type="text" name="suppliers[][supplierNETprice]" class="form-control" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4">
                                <label class="form-label required">{{ "Supplier Item-ID"|trans }}</label>
                                <input type="text" name="suppliers[][supplierItemID]" class="form-control" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4">
                                <label class="form-label">{{ "Typical delivery Time"|trans }}</label>
                                <input type="text" name="suppliers[][TypicalDeliveryTime]" class="form-control" autocomplete="off">
                            </div>
                        </div>
                    </fieldset>

                    <div class="mt-3">
                        <div class="card">

                            <div class="card-header">
                                <h3 class="card-title">{{ "Open orders"|trans }}</h3>
                            </div>

                            <div class="list-group list-group-flush list-group-hoverable">

                                <div class="list-group-item">
                                    <div class="row align-items-center">
                                        <div class="col text-truncate">
                                            <a href="#" target="_blank" class="text-reset d-block">{{ "Order from"|trans }} 22.03.2024</a>
                                            <div class="d-block text-secondary text-truncate mt-n1">
                                                {{ "Ordered by"|trans }} Max Mustermann
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="list-group-item">
                                    <div class="row align-items-center">
                                        <div class="col text-truncate">
                                            <a href="#" target="_blank" class="text-reset d-block">{{ "Order from"|trans }} 22.03.2024</a>
                                            <div class="d-block text-secondary text-truncate mt-n1">
                                                {{ "Ordered by"|trans }} Max Mustermann
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </template>

    {% if product and product.getSuppliers() is defined and product.getSuppliers() is not empty %}
        {% for sp in product.getSuppliers() %}
            <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-1">
                        <button class="supplier-name accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#supplier-{{ sp.supplier.getId() }}" aria-expanded="true">
                            {{ sp.supplier.name }}
                        </button>
                    </h2>
                    <div id="supplier-{{ sp.supplier.getId() }}" class="accordion-collapse collapse show" data-bs-parent="#accordion-example">
                        <div class="accordion-body pt-0">

                            <fieldset class="form-fieldset">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <label class="form-label">{{ "Supplier NET price"|trans }}</label>
                                        <input type="text" name="suppliers[{{ sp.supplier.getId() }}][supplierNETprice]" class="form-control" autocomplete="off" value="{{ sp.getSupplierNETprice() }}">
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="form-label required">{{ "Supplier Item-ID"|trans }}</label>
                                        <input type="text" name="suppliers[{{ sp.supplier.getId() }}][supplierItemID]" class="form-control" autocomplete="off" value="{{ sp.getSupplierItemID() }}">
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="form-label">{{ "Typical delivery Time"|trans }}</label>
                                        <input type="text" name="suppliers[{{ sp.supplier.getId() }}][TypicalDeliveryTime]" class="form-control" autocomplete="off" value="{{ sp.getTypicalDeliveryTime() }}">
                                    </div>
                                </div>
                            </fieldset>

                            <div class="mt-3">
                                <div class="card">

                                    <div class="card-header">
                                        <h3 class="card-title">{{ "Open orders"|trans }}</h3>
                                    </div>

                                    <div class="list-group list-group-flush list-group-hoverable">

                                        <div class="list-group-item">
                                            <div class="row align-items-center">
                                                <div class="col text-truncate">
                                                    <a href="#" target="_blank" class="text-reset d-block">{{ "Order from"|trans }} 22.03.2024</a>
                                                    <div class="d-block text-secondary text-truncate mt-n1">
                                                        {{ "Ordered by"|trans }} Max Mustermann
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-group-item">
                                            <div class="row align-items-center">
                                                <div class="col text-truncate">
                                                    <a href="#" target="_blank" class="text-reset d-block">{{ "Order from"|trans }} 22.03.2024</a>
                                                    <div class="d-block text-secondary text-truncate mt-n1">
                                                        {{ "Ordered by"|trans }} Max Mustermann
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

        {% endfor %}
    {% endif %}
    {# <div class="accordion-item">
        <h2 class="accordion-header" id="heading-1">
            <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
                Supplier 1
            </button>
        </h2>
        <div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-example">
            <div class="accordion-body pt-0">

                <fieldset class="form-fieldset">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label class="form-label">{{ "Supplier NET price"|trans }}</label>
                            <input type="text" name="supplierNETprice" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label required">{{ "Supplier Item-ID"|trans }}</label>
                            <input type="text" name="supplierItemID" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label">{{ "Typical delivery Time"|trans }}</label>
                            <input type="text" name="TypicalDeliveryTime" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </fieldset>

                <div class="mt-3">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">{{ "Open orders"|trans }}</h3>
                        </div>

                        <div class="list-group list-group-flush list-group-hoverable">

                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col text-truncate">
                                        <a href="#" target="_blank" class="text-reset d-block">{{ "Order from"|trans }} 22.03.2024</a>
                                        <div class="d-block text-secondary text-truncate mt-n1">
                                            {{ "Ordered by"|trans }} Max Mustermann
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col text-truncate">
                                        <a href="#" target="_blank" class="text-reset d-block">{{ "Order from"|trans }} 22.03.2024</a>
                                        <div class="d-block text-secondary text-truncate mt-n1">
                                            {{ "Ordered by"|trans }} Max Mustermann
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
                Supplier 2
            </button>
        </h2>
        <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
            <div class="accordion-body pt-0">

                <fieldset class="form-fieldset">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <label class="form-label">{{ "Supplier NET price"|trans }}</label>
                            <input type="text" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label required">{{ "Supplier Item-ID"|trans }}</label>
                            <input type="text" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label">{{ "Typical delivery Time"|trans }}</label>
                            <input type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </fieldset>

            </div>
        </div>
    </div> #}

</div>

<hr/>

<div class="card mt-3">
    <div class="card-body text-end">
        <div class="d-flex">
            <select id="suppliers-list" class="form-select" style="width: 50%">
            <option value="">-Select-</option>
            {% for item in dropdownFields %}
                {% for key, value in item %}
                    {% if key == 'Suppliers' %}
                        {% for id, name in value %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
                {# <option value="1">Supplier 1</option>
                <option value="2">Supplier Two</option>
                <option value="3">Supplier Three</option> #}
            </select>
            <a id="add-supplier" class="btn btn-primary ms-auto">{{ "Add supplier"|trans }}</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    var supplierDropdown = document.getElementById("suppliers-list");
    var addSupplierBtn = document.getElementById('add-supplier');

    // Get all supplier names already present in the list
    var selectedSuppliers = document.querySelectorAll('.suppliers .supplier-name');
    var supplierNames = Array.from(selectedSuppliers).map(supplier => supplier.textContent.trim());

    function customizeDropdownValues() {
        for (let i = supplierDropdown.options.length - 1; i >= 0; i--) {
            let optionText = supplierDropdown.options[i].text.trim();
            if (supplierNames.includes(optionText)) {
                supplierDropdown.remove(i);
            }
        }
    }

    customizeDropdownValues();

    function toggleButtonVisibility() {
        var supplierId = supplierDropdown.value;
        addSupplierBtn.classList.toggle("d-none", !supplierId);
    }

    toggleButtonVisibility();
    supplierDropdown.addEventListener("change", toggleButtonVisibility);

    addSupplierBtn.addEventListener("click", function () {
        var supplierId = supplierDropdown.value;
        
        fetch("/items/supplier-info", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ supplierId: supplierId })
        })
        .then(res => res.json())
        .then(data => {
            var supplierTemplate = document.querySelector("#supplier-template").content.cloneNode(true);
            var suppliersContainer = document.querySelector(".suppliers");
            var expandSupplierBtn = supplierTemplate.querySelector(".supplier-name");

            supplierTemplate.querySelector(".accordion-collapse").id = "supplier-" + data.id;
            expandSupplierBtn.setAttribute("data-bs-target", "#supplier-" + data.id);
            expandSupplierBtn.textContent = data.name;

            supplierTemplate.querySelectorAll("input").forEach(input => {
                let name = input.getAttribute("name");
                input.setAttribute("name", name.replace("suppliers[]", `suppliers[${data.id}]`));
            });

            suppliersContainer.appendChild(supplierTemplate);

            // Add new supplier to the supplierNames array
            supplierNames.push(data.name.trim());
            customizeDropdownValues();
        })
        .catch(err => {
            console.error("Error:", err);
            alert("An error occurred while fetching the supplier data.");
        });
    });
});

</script>