<div class="card">
    <div class="table-responsive">
        <table class="table table-vcenter card-table table-striped">
            <thead>
            <tr>
                <th>{{ "Warehouse"|trans }}</th>
                <th>{{ "In stock"|trans }}</th>
                <th>{{ "To procure"|trans }}</th>
                <th>{{ "Ordered"|trans }}</th>
                <th class="w-1"></th>
                <th class="w-1"></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lager Hinterhof 22</td>
                    <td class="text-secondary">235</td>
                    <td class="text-secondary">112</td>
                    <td class="text-secondary">12</td>
                    <td>
                        <a href="#" class="btn btn-primary w-100">{{ "Add stock"|trans }}</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger w-100">{{ "Remove stock"|trans }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Lager Hinterhof 22</td>
                    <td class="text-secondary">235</td>
                    <td class="text-secondary">112</td>
                    <td class="text-secondary">12</td>
                    <td>
                        <a href="#" class="btn btn-primary w-100">{{ "Add stock"|trans }}</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger w-100">{{ "Remove stock"|trans }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Lager Hinterhof 22</td>
                    <td class="text-secondary">235</td>
                    <td class="text-secondary">112</td>
                    <td class="text-secondary">12</td>
                    <td>
                        <a href="#" class="btn btn-primary w-100">{{ "Add stock"|trans }}</a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger w-100">{{ "Remove stock"|trans }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
