<div class="accordion" id="accordion-example">
    {% macro render_category_tree(categories, parent_id) %}
        {% for item in categories %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ item.category.id }}">
                    {% if item.children is not empty %}
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ item.category.id }}" aria-expanded="false" aria-controls="collapse-{{ item.category.id }}">
                            {{ item.category.getKey() }}
                        </button>
                    {% else %}
                        {% set queryParams = app.request.query.all()|merge({category: item.category.id}) %}
                        <a href="{{ path('items', queryParams) }}" class="accordion-button list-group-item list-group-item-action {% if app.request.get('category') == item.category.id %}fw-bolder text-decoration-underline{% endif %}">
                            {{ item.category.getKey() }}
                        </a>
                    {% endif %}
                </h2>
                <div id="collapse-{{ item.category.id }}" class="accordion-collapse collapse" data-bs-parent="#{{ parent_id ?? 'accordion-example' }}">
                    <div class="accordion-body pt-0">
                        {% if item.children is not empty %}
                            <div class='list-group list-group-flush'>
                            {% for child in item.children  %}
                                {% set queryParams = app.request.query.all()|merge({category: child.category.id}) %}
                                <a href="{{ path('items', queryParams) }}" class="list-group-item list-group-item-action {% if app.request.get('category') == child.category.id %}fw-bolder text-decoration-underline{% endif %}">
                                    {{ child.category.getKey() }}
                                </a>
                    
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endmacro %}

    {{ _self.render_category_tree(categories, null) }}
</div>

