{% extends("base.html.twig") %}

{% block body %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            {{ "Create & edit"|trans }}
                        </div>
                        <h2 class="page-title">
                            {{ editMode ? "Edit item"|trans : "Add item"|trans }}</h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# Flash notifications #}
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="toast align-items-center text-white bg-{{ type == 'success' ? 'success' : 'danger' }} border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                    <div class="col-12">
                        <form method="post" enctype="multipart/form-data">

                            <div class="card">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs nav-fill" data-bs-toggle="tabs">
                                        <li class="nav-item">
                                            <a href="#tabs-productdaten" class="nav-link active" data-bs-toggle="tab">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-template"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 1a1 1 0 0 1 1 -1h14a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-14a1 1 0 0 1 -1 -1z" /><path d="M4 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /><path d="M14 12l6 0" /><path d="M14 16l6 0" /><path d="M14 20l6 0" /></svg>
                                                {{ "General"|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#tabs-bilder" class="nav-link" data-bs-toggle="tab">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-photo-scan"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8h.01" /><path d="M6 13l2.644 -2.644a1.21 1.21 0 0 1 1.712 0l3.644 3.644" /><path d="M13 13l1.644 -1.644a1.21 1.21 0 0 1 1.712 0l1.644 1.644" /><path d="M4 8v-2a2 2 0 0 1 2 -2h2" /><path d="M4 16v2a2 2 0 0 0 2 2h2" /><path d="M16 4h2a2 2 0 0 1 2 2v2" /><path d="M16 20h2a2 2 0 0 0 2 -2v-2" /></svg>
                                                {{ "Images"|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#tabs-produktset" class="nav-link" data-bs-toggle="tab">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-category-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 4h6v6h-6z" /><path d="M4 14h6v6h-6z" /><path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M7 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /></svg>
                                                {{ "Product set"|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#tabs-lieferanten" class="nav-link" data-bs-toggle="tab">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-truck-delivery"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" /><path d="M3 9l4 0" /></svg>
                                                {{ "Suppliers"|trans }}
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#tabs-lagerbestand" class="nav-link" data-bs-toggle="tab">
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-building-warehouse"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21v-13l9 -4l9 4v13" /><path d="M13 13h4v8h-10v-6h6" /><path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3" /></svg>
                                                {{ "Inventory"|trans }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active show" id="tabs-productdaten">
                                            {% include("items/_items_data.html.twig") %}
                                        </div>
                                        <div class="tab-pane" id="tabs-bilder">
                                            {% include("items/_items_images.html.twig") %}
                                        </div>
                                        <div class="tab-pane" id="tabs-produktset">
                                            {% include("items/_items_set.html.twig") %}
                                        </div>
                                        <div class="tab-pane" id="tabs-lieferanten">
                                            {% include("items/_items_suppliers.html.twig") %}
                                        </div>
                                        <div class="tab-pane" id="tabs-lagerbestand">
                                            {% include("items/_items_inventory.html.twig") %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-2">
                                <div class="card-body text-end">
                                    <div class="d-flex">
                                        <a href="{{ path('items') }}" class="btn btn-link">{{ "Cancel"|trans }}</a>
                                        <button type="submit" class="btn btn-primary ms-auto">{{ "Save"|trans }}</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let toasts = document.querySelectorAll(".toast");
        toasts.forEach(toast => {
            new bootstrap.Toast(toast, { autohide: true, delay: 3000 }).show();
        });
    });
</script>

{% endblock %}
