{% extends("base.html.twig") %}

{% block body %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            {{ "Create & edit"|trans }}
                        </div>
                        <h2 class="page-title">
                            {{ "Items"|trans }}</h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{{ path('items-create') }}" class="btn btn-primary">
                                {{ "Add item"|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                    <div class="col-3">

                        <style>
                            .list-group-flush > .list-group-item {
                                padding: 0.5rem;
                            }

                            .avatar {
                                --tblr-avatar-size: 5rem;
                            }
                            .badge-outline {
                                display: block;
                                margin-bottom: 5px;
                            }
                            .btn .icon {
                                margin: 0;
                            }
                        </style>

                        <div class="card">
                            <div class="card-body">
                                {% include("items/_navigation.html.twig") %}
                            </div>
                        </div>

                    </div>

                    <div class="col-9">

                        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                            <form method="get" autocomplete="off" novalidate="">
                                <div class="input-icon">
                                    <span class="input-icon-addon">
                                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                                    </span>
                                    <input type="text" name="search" value="{{ searchTerm }}" class="form-control" placeholder="{{ "Search"|trans }} ..." aria-label="Search in website">
                                </div>
                            </form>
                        </div>


                        <div class="mt-2 btn-list flex-nowrap">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">{{ "Warehouse"|trans }}</button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    {% for warehouse in warehouses %}
                                        <a class="dropdown-item" href="?warehouse={{ warehouse.id }}">{{ warehouse.name }}</a>
                                    {% endfor %}
                                    {# <a class="dropdown-item" href="#">Warehouse 1</a>
                                    <a class="dropdown-item" href="#">Warehouse 2</a> #}
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">{{ "Manufacturer"|trans }}</button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    {% for manufacturer in manufacturers %}
                                        <a class="dropdown-item" href="?manufacturer={{ manufacturer.id }}">{{ manufacturer.name }}</a>
                                    {% endfor %}
                                    {# <a class="dropdown-item" href="#">Manufacturer 1</a>
                                    <a class="dropdown-item" href="#">Manufacturer 2</a>
                                    <a class="dropdown-item" href="#">Manufacturer 3</a>
                                    <a class="dropdown-item" href="#">Manufacturer 4</a> #}
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">{{ "Tag"|trans }}</button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    {% for tag in tags %}
                                        <a class="dropdown-item" href="#">{{ tag.name }}</a>
                                    {% endfor %}
                                    {# <a class="dropdown-item" href="#">Tag 2</a>
                                    <a class="dropdown-item" href="#">Tag 3</a>
                                    <a class="dropdown-item" href="#">Tag 4</a> #}
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">{{ "Sort"|trans }}</button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">{{ "Price asc"|trans }}</a>
                                    <a class="dropdown-item" href="#">{{ "Price desc"|trans }}</a>
                                    <a class="dropdown-item" href="#">{{ "Inventory asc"|trans }}</a>
                                    <a class="dropdown-item" href="#">{{ "Inventory desc"|trans }}</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">{{ "Filter"|trans }}</button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Show All</a>
                                    <a class="dropdown-item" href="#">Ordered</a>
                                    <a class="dropdown-item" href="#">Required</a>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="table-responsive">
                                <table class="table table-mobile-md card-table">
                                    <thead>
                                    <tr>
                                        <th>{{ "Name"|trans }}</th>
                                        <th>{{ "Title"|trans }}</th>
                                        <th>{{ "Inventory"|trans }}</th>
                                        <th>{{ "Required"|trans }}</th>
                                        <th>{{ "Ordered"|trans }}</th>
                                        <th class="w-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for product in products %}
                                        <tr>
                                            <td data-label="Name">
                                                <div class="d-flex py-1 align-items-center">
                                                    <div class="flex-fill">
                                                        <a href="{{ path('items-edit', { artikelid: 1 }) }}"><span class="avatar me-2" style="background-image: url({{ product.image }})"></span></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-label="Title">
                                                <div class="text-muted">Ortner / 667788767</div>
                                                <div><strong>{{ product.name }}</strong>
                                                    {% if loop.index is divisible by(3) %}
                                                    <span class="badge bg-teal text-teal-fg">{{ "SET"|trans }}</span>
                                                    {% elseif loop.index is divisible by(2) %}
                                                    <span class="badge bg-azure text-azure-fg">{{ "COMP"|trans }}</span>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                                <div class="text-secondary">{{ product.description }}</div>
                                                <div class="tags-list mt-1">
                                                    {% for tag in product.tags %}
                                                        <span class="tag"> {{ tag }}<a href="#" class="btn-close"></a></span>
                                                    {% endfor %}
                                                    {# <span class="tag"> Tag 2<a href="#" class="btn-close"></a></span>
                                                    <span class="tag"> Tag 3<a href="#" class="btn-close"></a></span> #}
                                                </div>
                                                <div class="text-secondary small mt-1">
                                                    {{ "Compatible with"|trans }}: <a href="" target="_blank">Artikelname Supersepp 2000 Deluxe</a>
                                                </div>

                                            </td>
                                            <td class="text-secondary" data-label="Role">
                                                <div class="">
                                                    <span class="badge badge-outline text-blue">Murnau: 24</span>
                                                    <span class="badge badge-outline text-blue">München: 2</span>
                                                    <span class="badge badge-outline text-blue">Innsbruck: 0</span>
                                                    <span class="badge badge-outline text-bg-blue ">ALL: 26</span>
                                                </div>
                                            </td>
                                            <td class="text-secondary" data-label="Role">
                                                <div class="">
                                                    <span class="badge badge-outline text-green">Sepp Meier: 24</span>
                                                    <span class="badge badge-outline text-green">Max Mustermann: 24</span>
                                                    <span class="badge badge-outline text-bg-green">ALL: 48</span>
                                                </div>
                                            </td>
                                            <td class="text-secondary" data-label="Role">
                                                <div class="">
                                                    <span class="badge badge-outline text-orange">Supplier1: 24</span>
                                                    <span class="badge badge-outline text-orange">Supplier2: 16</span>
                                                    <span class="badge badge-outline text-bg-orange">ALL: 38</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-list flex-nowrap">
                                                    <a href="{{ path('items-edit', { artikelid: 1 }) }}" class="btn btn-icon btn-outline-blue">
                                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    {# {% set k = 10 %}
                                    {% for i in range(1, k) %}
                                        <tr>
                                            <td data-label="Name">
                                                <div class="d-flex py-1 align-items-center">
                                                    <div class="flex-fill">
                                                        <a href="{{ path('items-edit', { artikelid: 1 }) }}"><span class="avatar me-2" style="background-image: url(/misc/img/dev-item.jpg)"></span></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td data-label="Title">
                                                <div class="text-muted">Ortner / 667788767</div>
                                                <div><strong>Großes Fettes Schild im Wald</strong>
                                                    {% if loop.index is divisible by(3) %}
                                                    <span class="badge bg-teal text-teal-fg">{{ "SET"|trans }}</span>
                                                    {% elseif loop.index is divisible by(2) %}
                                                    <span class="badge bg-azure text-azure-fg">{{ "COMP"|trans }}</span>
                                                    {% else %}
                                                    {% endif %}
                                                </div>
                                                <div class="text-secondary">Kurzbeschreibung, Abmessung oder so bzw evtl auch ein kleiner Hinweis</div>
                                                <div class="tags-list mt-1">
                                                    <span class="tag"> Tag 1<a href="#" class="btn-close"></a></span>
                                                    <span class="tag"> Tag 2<a href="#" class="btn-close"></a></span>
                                                    <span class="tag"> Tag 3<a href="#" class="btn-close"></a></span>
                                                </div>
                                                <div class="text-secondary small mt-1">
                                                    {{ "Compatible with"|trans }}: <a href="" target="_blank">Artikelname Supersepp 2000 Deluxe</a>
                                                </div>

                                            </td>
                                            <td class="text-secondary" data-label="Role">
                                                <div class="">
                                                    <span class="badge badge-outline text-blue">Murnau: 24</span>
                                                    <span class="badge badge-outline text-blue">München: 2</span>
                                                    <span class="badge badge-outline text-blue">Innsbruck: 0</span>
                                                    <span class="badge badge-outline text-bg-blue ">ALL: 26</span>
                                                </div>
                                            </td>
                                            <td class="text-secondary" data-label="Role">
                                                <div class="">
                                                    <span class="badge badge-outline text-green">Sepp Meier: 24</span>
                                                    <span class="badge badge-outline text-green">Max Mustermann: 24</span>
                                                    <span class="badge badge-outline text-bg-green">ALL: 48</span>
                                                </div>
                                            </td>
                                            <td class="text-secondary" data-label="Role">
                                                <div class="">
                                                    <span class="badge badge-outline text-orange">Supplier1: 24</span>
                                                    <span class="badge badge-outline text-orange">Supplier2: 16</span>
                                                    <span class="badge badge-outline text-bg-orange">ALL: 38</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-list flex-nowrap">
                                                    <a href="{{ path('items-edit', { artikelid: 1 }) }}" class="btn btn-icon btn-outline-blue">
                                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %} #}

                                    </tbody>
                                </table>
                            </div>


                            <ul class="pagination mt-3">
                                <li class="page-item {{ currentPage > 1 ? '' : 'disabled' }}">
                                    <a class="page-link" href="?page={{ currentPage - 1 }}" tabindex="-1" aria-disabled="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                                        {{ "Last page"|trans }}
                                    </a>
                                </li>
                                {% for page in range(1, totalPages) %}
                                    {% set activePage = currentPage == page ? "active" : "" %}
                                    <li class="page-item {{ currentPage == page ? 'active' : '' }}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                {% endfor %}
                                {# <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li> #}
                                <li class="page-item {{ currentPage == totalPages ? 'disabled' : '' }}">
                                    <a class="page-link" href="?page={{ currentPage + 1 }}">
                                        {{ "Next page"|trans }}
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                                    </a>
                                </li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
{% endblock %}
