{% extends("base.html.twig") %}

{% block body %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            {{ "Create & edit"|trans }}
                        </div>
                        <h2 class="page-title">
                            {{ "Suppliers"|trans }}</h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{{ path('administration_suppliers-create') }}" class="btn btn-primary">
                                {{ "Add supplier"|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "form/modal.html.twig" %}
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                    <div class="col-12">
                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }}">{{ message }}</div>
                            {% endfor %}
                        {% endfor %}
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-vcenter table-mobile-md card-table">
                                    <thead>
                                    <tr>
                                        <th>{{ "Supplier"|trans }}</th>
                                        <th>{{ "Website"|trans }}</th>
                                        <th class="w-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if supplierList is defined and supplierList is not empty %}        
                                        {% for supplier in supplierList %}
                                        <tr>
                                            <td data-label="Name">
                                                {{supplier.name}}
                                            </td>
                                            <td data-label="Name">
                                                <a href="https://www.google.de" target="_blank"> {{supplier.website}}</a>
                                            </td>
                                            <td>
                                                <div class="btn-list flex-nowrap">
                                                    <a href="{{ path('administration_suppliers-edit', { lagerid: supplier.id }) }}" class="btn">
                                                        {{ "Edit"|trans }}
                                                    </a>
                                                    <a id="delete-item" data-href="{{ path('administration_suppliers-delete', { id: supplier.id }) }}" class="btn btn-danger"
                                                            data-bs-toggle="modal" data-bs-target="#modal-small">
                                                            {{'Delete'|trans}}
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                      {% else %}
                                            <tr> 
                                                <td colspan='3'> {{"No data found"|trans}} </td>
                                            </tr>
                                        {% endif %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
