{% extends("base.html.twig") %}

{% block body %}
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            {{ "Create & edit"|trans }}
                        </div>
                        {% if userid is not empty %}
                            <h2 class="page-title">
                                {{ "Edit user"|trans }}
                            </h2>
                        {% else %}
                            <h2 class="page-title">
                                {{ "Add user"|trans }}
                            </h2>
                        {% endif %}
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="row row-cards">

                    <div class="col-12">
                        
                            <div class="card">
                                <div class="card-body">
                               

                                {% form_theme form 'bootstrap_5_layout.html.twig' %}
                                    {% for type, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ type }}">{{ message }}</div>
                                    {% endfor %}
                                {% endfor %}
                                {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-xl-6">
                                            
                                                {{ form_row(form.firstname) }}
                                                {{ form_row(form.lastname) }}
                                                {{ form_row(form.role) }}
                                                {{ form_row(form.email) }}

                                        </div>
                                        <div class="col-xl-6">
                                            {{ form_row(form.password) }}
                                            {{ form_row(form['password-repeated']) }}
                                      

                                            <label class="form-label">{{ "User rights"|trans }}</label>

                                            <fieldset class="form-fieldset">
                                                {{ form_row(form.permission_admin_v) }}
                                                {{ form_row(form.permission_wegepate_v) }}
                                                {{ form_row(form.permission_lagerist_v) }}
                                                {{ form_row(form.permission_wegemanager_v) }}
                                          
                                         
                                            </fieldset>

                                        </div>
                                    </div>

                                </div>

                                <div class="card-footer text-end">
                                    <div class="d-flex">
                                        <a href="{{ path('administration_users') }}" class="btn btn-link">{{ "Cancel"|trans }}</a>
                                        <button type="submit" class="btn btn-primary ms-auto">{{ "Save"|trans }}</button>
                                    </div>
                                </div>

                                {{ form_end(form) }}

                            </div>
                       
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
